.myLabel {
	background-color:#ededed;
	display:inline-block;
	cursor:pointer;
	color:darkblue;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.mySelect {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border:1px solid #d6bcd6;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:darkblue;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, forestgreen 5%, green 100%);
	background-color: forestgreen;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor: pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.myButton:active {
	position:relative;
	top:1px;
}

#reloadButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* --- Transaction Table Layout --- */

#table-container {
    margin-top: 80px;        /* pushes table below the top controls */
    padding: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* DataTables theme alignment */
.dataTables_wrapper {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #222;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    margin-top: 10px;
}

table.dataTable thead th {
    background-color: #ededed;
    color: darkblue;
    font-weight: bold;
    text-align: left;
}

table.dataTable tbody td {
    background-color: #fafafa;
    padding: 6px 10px;
}

table.dataTable tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}

/* Filter input row styling */
table.dataTable thead .filters th {
    background-color: #f5f5f5;
    padding: 4px;
}

table.dataTable thead input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 13px;
}
