.myLabel {
	background-color:#ededed;
	display:inline-block;
	cursor:pointer;
	color:darkblue;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.mySelect {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border:1px solid #d6bcd6;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:darkblue;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, forestgreen 5%, green 100%);
	background-color: forestgreen;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor: pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.myButton:active {
	position:relative;
	top:1px;
}

#reloadButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}