<div class="btn-group ms-3">
    <button type="button"
            class="btn btn-outline-secondary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        Chart
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" id="chart-menu-pie">Pie Chart</a></li>
        <li><a class="dropdown-item disabled" href="#" id="chart-menu-simplebar">Simple Bar</a></li>
        <li><a class="dropdown-item disabled" href="#" id="chart-menu-stackedbar">Stacked Bar</a></li>
        <li><a class="dropdown-item disabled" href="#" id="chart-menu-stackedarea">Stacked Area</a></li>
    </ul>
</div>
